<script>
  import SectionTitle from './SectionTitle.svelte';
  import Card from '../ui/Card.svelte';
  import TimeLine from '../ui/TimeLine.svelte';
  import { academicTraining } from '../constants/curriculum';

  $: items = academicTraining.reverse().map(el => ({
    from: el.from,
    to: el.to,
    title: `${el.school} - ${el.title}`,
  }));
</script>

<Card>
  <SectionTitle>Academic training</SectionTitle>
  <TimeLine items={items} />
</Card>
