<script>
	import AcademicTraining from '../components/AcademicTraining.svelte';
	import ContactInfo from '../components/ContactInfo.svelte';
	import Jobs from '../components/Jobs.svelte';
	import Languages from '../components/Languages.svelte';
	import Projects from '../components/Projects.svelte';
	import Skills from '../components/Skills.svelte';
</script>

<style windi:preflights:global windi:safelist:global>
</style>

<svelte:head>
  <title>CV Ray</title>

  <style>
    body {
      background: #eee;
    }
  </style>
</svelte:head>

<main class="flex justify-center">
  <div class="max-w-screen-lg">
    <div class="flex flex-col gap-4">
      <ContactInfo />
    
      <Languages />
    
      <div class="md:grid md:grid-cols-2 md:gap-4">
        <Jobs />
        <AcademicTraining />
      </div>
    
      <Skills />
    
      <Projects />
    </div>
  </div>
</main>
