<script>
  import Card from '../ui/Card.svelte';
  import { contactInfo } from '../constants/curriculum';

  const {
    name,
    photo,
    job,
    email,
    phone,
  } = contactInfo;
</script>

<Card>
  <div class="md:flex p-6">
    <div class="flex flex-auto justify-center md:inline-block md:flex-none">
      <img
        class="rounded-full w-64 h-64 md:mx-0 md:mr-6"
        alt="profile-avatar"
        src={photo}
      />
    </div>
    <div class="text-center mt-5 md:text-left md:ml-16">
      <h1 class="text-lg md:text-3xl">{name}</h1>
      <div class="text-purple-500 md:text-xl">{job}</div>
      <div class="text-gray-600">{email}</div>
      <div class="text-gray-600">{phone}</div>
    </div>
  </div>
</Card>

