<script>
  import SectionTitle from './SectionTitle.svelte';
  import Card from '../ui/Card.svelte';
  import TimeLine from '../ui/TimeLine.svelte';
  import { jobs } from '../constants/curriculum';

  $: items = jobs.reverse().map((job) => ({
    from: job.from,
    to: job.to,
    title: job.job,
    description: job.description,
  }));
</script>

<Card>
  <SectionTitle>Work experience</SectionTitle>
  <TimeLine items={items} />
</Card>
