<script>
  import SectionTitle from './SectionTitle.svelte';
  import { languages } from '../constants/curriculum';
  import DottedBar from '../ui/DottedBar.svelte';
  import Card from '../ui/Card.svelte';
</script>

<Card>
  <SectionTitle>Languages</SectionTitle>
  <div class="md:grid md:grid-cols-2 md:gap-12">
    {#each languages as language}
      <div class="flex justify-between items-center mb-4 mx-5">
        <span>
          <div class="font-medium">
            {language.name}
          </div>
          <div class="text-gray-600 text-sm">{language.display}</div>
        </span>
        <div class="w-40 sm:w-64">
          <DottedBar value={language.value} />
        </div>
      </div>
    {/each}
  </div>
</Card>
