<script>
  import { projects } from '../constants/curriculum';
  import SectionTitle from './SectionTitle.svelte';
  import Card from '../ui/Card.svelte';
</script>

<Card>
  <SectionTitle>Public projects</SectionTitle>
  <div class="md:grid md:grid-cols-2 md:gap-4">
    {#each projects as project}
      <div class="m-4">
        <div class="flex items-center">
          <i class="text-blue-400 text-3xl mr-2 {project.icon}" />
          <a class="font-bold underline" target="_blank" href={project.url}>{project.name}</a>
        </div>
        <p>{project.description}</p>
      </div>
    {/each}
  </div>
</Card>
