<script>
  import Card from '../ui/Card.svelte';
  import SectionTitle from './SectionTitle.svelte';
  import { skills } from '../constants/curriculum';
</script>

<Card>
  <SectionTitle>Skills</SectionTitle>
  <div class="grid gap-12 place-items-center grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6">
    {#each skills as skill}
      <div class="flex flex-col items-center w-26">
        <i class="block text-blue-400 text-6xl {skill.icon}" />
        <span>{skill.name}</span>
      </div>
    {/each}
  </div>
</Card>
