<script>
  export let value = 0;
  export let dots = 10;
</script>

<div class="flex justify-between">
  {#each Array(dots) as _, i}
    <div
      class="w-3 h-3 bg-opacity-100 rounded-full"
      class:bg-blue-400={i < value}
      class:bg-gray-300={i >= value}
    />
  {/each}
</div>
