<script>
  export let last = true;
</script>

<div class="flex justify-start">
  <div class="mr-4 flex flex-col items-center">
    <div class="flex-none w-3 h-3 mt-1 bg-opacity-100 rounded-full bg-gray-500" />
    {#if !last}
      <div class="relative h-full border w-0 mt-1" />
    {/if}
  </div>
  <div class="pb-5">
    <slot />
  </div>
</div>
