<script>
  import TimeLineSegment from './TimeLineSegment.svelte';
  export let items = [];
</script>

{#each items as item, index}
  <TimeLineSegment last={index === items.length -1}>
    <div class="flex flex-col">
      <span class="font-medium">
        {item.title}
      </span>
      <span class="text-gray-600 text-sm mb-3">
        ({item.from} - {item.to})
      </span>
      {#if item.description}
        <span>
          {item.description}
        </span>        
      {/if}
    </div>
  </TimeLineSegment>
{/each}
